# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore datasets, too heavy
Datasets/Data
Executions
Evaluates/evaluate_input
Evaluates/ours
Evaluates/port
results/
misc_utils/tests

# Ignore weigths
*.npz

# pycache
__pycache__
*.pyc